.RecurrenceItem {
  display: flex;
  flex-direction: column;
}

.RecurrenceItem._selected > button {
  background-color: transparent !important;
  cursor: default;
}

.RecurrenceItem._selected:not(.RecurrenceItem-simple) {
  padding-bottom: 8px;
  border-top: 1px solid #fff3;
  border-bottom: 1px solid #fff3;
}

.RecurrenceItem._selected:first-child {
  border-top: none;
}

.RecurrenceItem._selected:last-child {
  border-bottom: none;
}

.RecurrenceSettings {
  padding-left: 14px;
  padding-right: 12px;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

.CounterSettings {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.RecurrenceSelectorList {
  padding: 2px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  row-gap: 4px;
}

.DurationPicker-button.RecurrenceSelector-button {
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.RecurrenceSelector-button._small {
  width: 25px;
}

.RecurrenceSelector-button._large {
  width: 47px;
}

.RecurrenceSelector-button._active {
  background: #f0e995;
  border-color: #f0e995;
  color: var(--inversed_color);
  opacity: 1;
}

.DurationPicker-input.RecurrenceInput {
  width: 29px;
  height: 25px;
  
  font-size: 14px;
  font-weight: 400;
}

.Recurrence-text_secondary {
  font-size: 14px;
  line-height: 19px;

  color: #616161;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}